html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    background-color: var(--color-white);
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.is-hidden{
    display: none !important;
}

.flex{
    display: flex;
}